*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f2f5;
}

.main-body{
    display: flex;
}

/* header starts */
.header-left img{
    height: 40px;
    cursor: pointer;
}

.user-avatar{
    border-radius: 50%;
    width: 45px;
    cursor: pointer;
}

.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.5);
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header-input input{
    border: none;
    background-color: transparent;
    outline: none;
}

.header-middle{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-option .material-symbols-outlined{
    font-size: xx-large;
    color: gray;
}

.header-option:hover .material-symbols-outlined{
    color: #2e81f4;
}

.header-option{
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

.header-option.active .material-symbols-outlined{
    color: #2e81f4;
}

.header-option.active{
    border-bottom: 4px solid #2e81f4;
}

.header-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    border-bottom: none;
}

.header-info{
    display: flex;
    align-items: center;
}

.header-info h4{
    margin-left: 10px;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-right .material-symbols-outlined{
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}
/* header ends */

/* sidebar starts */
.sidebar-row{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.sidebar-row:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebar-row h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebar-row .material-symbols-outlined{
    font-size: xx-large;
    color: #2e81f4;
}

.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}
/* sidebar ends */

.feed{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* story starts */
.story{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(images/image2.jpg);
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.story:hover{
    transform: scale(1.07);
}

.story-avatar{
    margin: 10px;
}

.story h4{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: white;
}

.story div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.story-reel{
    padding: 10px 0;
    display: flex;
}
/* story ends */



/* meesage sender starts */
.message-sender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.message-sender-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.message-sender form{
    flex: 1;
    display: flex;
}

.message-sender form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.message-sender-bottom{
    display: flex;
    justify-content: space-evenly;
}

.message-sender-option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.message-sender-option h3{
    font-size: medium;
    margin-left: 10px;
}

.message-sender-option:nth-child(1) span{
    color: red;
}

.message-sender-option:nth-child(2) span{
    color: green;
}

.message-sender-option:nth-child(3) span{
    color: orange;
}

.message-sender-option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}
/* meesage sender ends */

/* post starts */
.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post-image img{
    width: 100%;
}

.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post-avatar{
    margin-right: 10px;
}

.post-top-info h3{
    font-size: medium;
}

.post-top-info p{
    font-size: small;
    color: gray;
}

.post-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post-options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post-option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post-option p{
    margin-left: 10px;
}

.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}
/* post ends */

.widgets{
    display: flex;
    flex: 0.33;
}


/* responsive starts */
@media(max-width: 768px){
    .sidebar{
        display: none;
    }

    .header-input input{
        display: none;
    }

    .header-middle{
        display: none;
    }

    .header-info{
        display: none;
    }

    .widgets{
        display: none;
    }

    .feed{
        margin-top: 20px;
        width: 100%;
        padding: 20px;
    }

    .story h4{
        font-size: 10px;
    }

    .story img{
        width: 40px;
    }
}

@media(min-width: 320px){
    .story-reel{
        width: 100%;
        overflow: scroll;
    }
}

@media(min-width:769px) and (max-width: 1440px){
    .feed{
        width: 50px;
        padding: 10px 50px;
    }

    .header-input input{
        display: none;
    }
}
/* responsive ends */